<% link_to 'Show', %>
<h1 class="title">Welcome to <%= @anniversary.name %>'s Website</h1>
<p>I was born on <%= @anniversary.birthdate %>.</p>
<p>Only <%= @anniversary.countdown %> days until my birthday!</p>
<p>This site was created on <%= @anniversary.launchdate%>.</p>
<p>It is <%= @anniversary.countup%> days old.</p>
<h4>My Favorite Programs:</h4>
<ol>
  <li>Emacs: Text Editor to the stars</li>
  <li>Vim: Text Editor to the cloud</li>
  <li>Clion: Champion of C++</li>
  <li>MetaSploit: Don't Ask</li>
  <li>Autopsy: It see's all</li>
</ol>
