<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-sm-2 col-lg-4"></div>
    <div class="col-md-4 col-sm-6 col-lg-4 article">
<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <h3 class="title">Sign in</h3>
    <%= devise_error_messages! %>
    <div class="form-group">

      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
      <%= f.submit 'Sign in', :class => 'btn btn-success right' %>
      <% if devise_mapping.rememberable? -%>
        <div class="checkbox" style="width:150px">
          <label>
            <%= f.check_box :remember_me %> Remember me
          </label>
        </div>
      <% end -%>
      <%- if devise_mapping.recoverable? %>
          <%= link_to "Forgot password?", new_password_path(resource_name), class: 'right' %>
      <% end -%>
  <% end %>
</div>
      <div class="col-md-4 col-lg-4"></div>
    </div>
  </div>
</div>