<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "My Site" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "My Site" %>">
  <meta name="author" content="Michael Lauer">
  <meta name="site-name" content="milauer.com">
  <meta name="content" content="blog computer science databases school work game design">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%= render 'layouts/navigation' %>
</header>
<main role="main" class ="page-wrap" style="padding-left: 10px; padding-bottom: 10px;">

  <%= render 'layouts/messages' %>
  <%= yield %>
</main>
<footer class="footer site-footer">
  <%= render 'layouts/footer' %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-71700878-1', 'auto');
    ga('send', 'pageview');
  </script>


</footer>
</body>
</html>
